<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
                <div formGroupName="customer" class="form-area">
                    <h3>Customer</h3>
                    <div class="row">
                        <div class="col-md-2">
          
                            <div class="col-md-9">
                                <div class="input-space">
                                    <input formControlName="firstName" placeholder="First Name" type="text" style="width: 500px;">                                  
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Validate Form -->
                    <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">
                        <div *ngIf="firstName.errors.required || firstName.errors.notOnlyWhiteSpace">
                               First Name is required 
                        </div>
                        <div *ngIf="firstName.errors.minlength">
                            First Name must be at least 3 characters long
                     </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <div class="col-md-9">
                                <div class="input-space">
                                    <input formControlName="lastName" placeholder="Last Name" type="text" style="width: 500px;">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
                        <div *ngIf="lastName.errors.required || lastName.errors.notOnlyWhiteSpace">
                               Last Name is required 
                        </div>
                        <div *ngIf="lastName.errors.minlength">
                            Last Name must be at least 3 characters long
                     </div>
                    </div>
                    

                    <div class="row">
                        <div class="col-md-2">
                            <div class="col-md-9">
                                <div class="input-space">
                                    <input formControlName="email" placeholder="Email" type="text" style="width: 500px;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                        <div *ngIf="email.errors.required">
                            Email is required 
                        </div>
                        <div *ngIf="email.errors.pattern">
                           Email must be a valid email address format
                     </div>
                    </div>

                </div>

                <div formGroupName="shippingAddress" class="form-area">
                    <h3>Shipping Address</h3>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="">&nbsp;Country(*)</label>
                            <div class="col-md-9">
                                <div class="input-space">
                                   <select formControlName="country" style="width: 500px;" (change)="getStates('shippingAddress')">
                                    <option *ngFor="let country of countries" [ngValue]="country">
                                        {{country.name}}
                                    </option>
                                   </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="shippingAddressCountry.invalid && (shippingAddressCountry.dirty || shippingAddressCountry.touched)" class="alert alert-danger">
                        <div *ngIf="shippingAddressCountry.errors.required">
                               Country is required 
                        </div>
                       
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <div class="col-md-9">
                                <div class="input-space">
                                    <input formControlName="street" placeholder="Street" type="text" style="width: 500px;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="shippingAddressStreet.invalid && (shippingAddressStreet.dirty || shippingAddressStreet.touched)" class="alert alert-danger">
                        <div *ngIf="shippingAddressStreet.errors.required || shippingAddressStreet.errors.notOnlyWhiteSpace">
                               Street is required 
                        </div>
                        <div *ngIf="shippingAddressStreet.errors.minlength">
                            Street must be at least 2 characters long
                     </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <div class="col-md-9">
                                <div class="input-space">
                                    <input formControlName="city" placeholder="City" type="text" style="width: 500px;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="shippingAddressCity.invalid && (shippingAddressCity.dirty || shippingAddressCity.touched)" class="alert alert-danger">
                        <div *ngIf="shippingAddressCity.errors.required || shippingAddressCity.errors.notOnlyWhiteSpace">
                               City is required 
                        </div>
                        <div *ngIf="shippingAddressCity.errors.minlength">
                            City must be at least 2 characters long
                     </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label for="">&nbsp;State(*)</label>
                            <div class="col-md-9">
                                <div class="input-space">
                                   <select formControlName="state" style="width: 500px;">
                                    <option *ngFor="let state of shippingAddressStates" [ngValue]="state">
                                        {{state.name}}
                                    </option>
                                   </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="shippingAddressState.invalid && (shippingAddressState.dirty || shippingAddressState.touched)" class="alert alert-danger">
                        <div *ngIf="shippingAddressState.errors.required">
                               State is required 
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">                     
                            <div class="col-md-9">
                                <div class="input-space">
                                    <input formControlName="zipCode" placeholder="Zip Code" type="text" style="width: 500px;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="shippingAddressZipCode.invalid && (shippingAddressZipCode.dirty || shippingAddressZipCode.touched)" class="alert alert-danger">
                        <div *ngIf="shippingAddressZipCode.errors.required || shippingAddressZipCode.errors.notOnlyWhiteSpace">
                               Zip Code is required 
                        </div>
                        <div *ngIf="shippingAddressZipCode.errors.minlength">
                            Zip Code must be at least 2 characters long
                     </div>
                    </div>
                    

                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" (change)="checkBoxShippingAddress($event)">
                    <label class="form-check-label">
                      Checked Shipping Address same as Billing Address
                    </label>
                  </div>
                  <br><br>

                <div formGroupName="billingAddress" class="form-area">
                    <h3>Billing Address</h3>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="">&nbsp;Country(*)</label>
                            <div class="col-md-9">
                                <div class="input-space">
                                   <select formControlName="country" style="width: 500px;" (change)="getStates('billingAddress')">
                                    <option *ngFor="let country of countries" [ngValue]="country">
                                        {{country.name}}
                                    </option>
                                   </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="billingAddressCountry.invalid && (billingAddressCountry.dirty || billingAddressCountry.touched)" class="alert alert-danger">
                        <div *ngIf="billingAddressCountry.errors.required">
                               Billing is required 
                        </div>                     
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <div class="col-md-9">
                                <div class="input-space">
                                    <input formControlName="street" placeholder="Street" type="text" style="width: 500px;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="billingAddressStreet.invalid && (billingAddressStreet.dirty || billingAddressStreet.touched)" class="alert alert-danger">
                        <div *ngIf="billingAddressStreet.errors.required || billingAddressStreet.errors.notOnlyWhiteSpace">
                            Street is required 
                        </div>
                        <div *ngIf="billingAddressStreet.errors.minlength">
                            Street must be at least 2 characters long
                     </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <div class="col-md-9">
                                <div class="input-space">
                                    <input formControlName="city" placeholder="City" type="text" style="width: 500px;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="billingAddressCity.invalid && (billingAddressCity.dirty || billingAddressCity.touched)" class="alert alert-danger">
                        <div *ngIf="billingAddressCity.errors.required || billingAddressCity.errors.notOnlyWhiteSpace">
                               City is required 
                        </div>
                        <div *ngIf="billingAddressCity.errors.minlength">
                            City must be at least 2 characters long
                     </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <div class="col-md-9">
                                <label for="">&nbsp;State(*)</label>
                                <div class="input-space">
                                   <select formControlName="state" style="width: 500px;">
                                    <option *ngFor="let state of billingAddressStates" [ngValue]="state">
                                        {{state.name}}
                                    </option>
                                   </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="billingAddressState.invalid && (billingAddressState.dirty || billingAddressState.touched)" class="alert alert-danger">
                        <div *ngIf="billingAddressState.errors.required">
                               State is required 
                        </div>                     
                    </div>

                    <div class="row">
                        <div class="col-md-2">                     
                            <div class="col-md-9">
                                <div class="input-space">
                                    <input formControlName="zipCode" placeholder="Zip Code" type="text" style="width: 500px;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="billingAddressZipCode.invalid && (billingAddressZipCode.dirty || billingAddressZipCode.touched)" class="alert alert-danger">
                        <div *ngIf="billingAddressZipCode.errors.required || billingAddressZipCode.errors.notOnlyWhiteSpace">
                               Zip Code is required 
                        </div>
                        <div *ngIf="billingAddressZipCode.errors.minlength">
                            Zip Code must be at least 2 characters long
                     </div>
                    </div>

                </div>

                <div class="form-area" formGroupName="creditCard">
                    <h3>Credit Card</h3>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="">&nbsp;CardType(*)</label>
                            <div class="col-md-9">
                                <div class="input-space">
                                   <select formControlName="cardType" style="width: 500px;">
                                    <option>Visa </option>
                                    <option>Mastercard </option>
                                   </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="creditCardType.invalid && (creditCardType.dirty || creditCardType.touched)" class="alert alert-danger">
                        <div *ngIf="creditCardType.errors.required">
                               Credit card type is required 
                        </div>                     
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <div class="col-md-9">
                                <div class="input-space">
                                    <input formControlName="nameOnCard" placeholder="Name On Card(*)" type="text" style="width: 500px;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="creditCardNameOnCard.invalid && (creditCardNameOnCard.dirty || creditCardNameOnCard.touched)" class="alert alert-danger">
                        <div *ngIf="creditCardNameOnCard.errors.required || creditCardNameOnCard.errors.notOnlyWhiteSpace">
                               Name is required 
                        </div>
                        <div *ngIf="creditCardNameOnCard.errors.minlength">
                            Name must be at least 2 characters long
                     </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <div class="col-md-9">
                                <div class="input-space">
                                    <input formControlName="cardNumber" placeholder="Card Number(*)" type="text" style="width: 500px;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="creditCardNumber.invalid && (creditCardNumber.dirty || creditCardNumber.touched)" class="alert alert-danger">
                        <div *ngIf="creditCardNumber.errors.required">
                               Card number is required 
                        </div>
                        <div *ngIf="creditCardNumber.errors.pattern">
                            Card number must be 16 digits long 
                     </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <div class="col-md-9">
                                <div class="input-space">
                                    <input formControlName="securityCode" placeholder="Security Code(*)" type="text" style="width: 500px;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="creditCardSecurityCode.invalid && (creditCardSecurityCode.dirty || creditCardSecurityCode.touched)" class="alert alert-danger">
                        <div *ngIf="creditCardSecurityCode.errors.required">
                               Security code is required 
                        </div>
                        <div *ngIf="creditCardSecurityCode.errors.pattern">
                            Security code must be 3 digits long 
                     </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label for="">&nbsp;ExpirationMonth(*)</label>
                            <div class="col-md-9">
                                <div class="input-space">
                                   <select formControlName="expirationMonth" style="width: 500px;">
                                    <option *ngFor="let month of creditCardMonths"> 
                                        {{month}}
                                    </option>
                                   </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="">&nbsp;ExpirationYear(*)</label>
                            <div class="col-md-9">
                                <div class="input-space">
                                   <select formControlName="expirationYear" style="width: 500px;"
                                   (change)="handleMonthsAndYears()">
                                    <option *ngFor="let year of creditCardYears"> 
                                        {{year}}
                                    </option>
                                   </select>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="form-area">
                    <h3>Your Order</h3>
                    <p>Total Quantity: {{totalQuantity}}</p>
                    <p>Shipping Free</p>
                    <p>Total Price: {{totalPrice | currency: 'USD'}}</p>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-info">Purcharse</button>
                </div>
            </form>
        </div>
    </div>
</div>
